/* Tablet PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}

/* Mobile, Tablet */
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px)/2);
    }

    .mobile-tablet__cart {
        display: block;
    }

    .mobile-tablet__cart-checkbox:checked ~ .header__cart-list {
        display: block;
    }

    /* .header__cart-wrap:hover .header__cart-list{
        display: block;
    } */

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__cart-list::before {
        display: none;
    }

    .header__cart-notice {
        bottom: 1.8rem;
    }

    .header__sort-bar {
        display: flex;
    }

    .header {
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
    }

    .app__content {
        padding-top: 8px;
    }

    .mobile-category__list {
        display: flex;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){

    :root {
        --header-height: 62px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {

    :root {
        --header-height: 56px;
    }

    .hide-on-mobile {
        display: none
    }

    .header-width-search {
        justify-content: space-between;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__cart-notice {
        padding: 2px 6px;
    }

    .header__mobile-search {
        display: block;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
        z-index: 1;
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        left: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
        top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .app__content {
        margin: 0 4px;
    }

    .header__logo-img {
        width: 110px;
    }

    @keyframes mobileSearchSideIn {
        from {
            top: calc(var(--header-height) / 2);
            opacity: 0;
        }

        to {
            top: var(--header-height);
            opacity: 1;
        }
        
    }
    
    .footer__content {
        padding: 0 16px;
    }

    .footer-item__link,
    .footer__heading {
        text-align: center;
    }

    .footer__download {
        justify-content: center;
    }

    .footer__download-apps {
        flex: unset;
    }

    .footer__download-app-link {
        display: block;
        padding: 6px 8px;
    }

    .home-product-item__percent {
        top: 0;
    }

    .home-product-item__label {
        top: -10px;
    }
}